#### function 

==>> collection of statements to do any one task with in program

==>> They are 2 types 

1. user defined fucntions

 ===>> whatever  the function which are defined by programmer

2. pre defined functions

 ===>> whatever the functions which are defined in side of python
 
 1. input functions
 
     --->>  to read the data from keyboard 
     
     1. raw_input()
     
     2. input()
 
 2. output functions
 
     --->>  To display the data on monitor
     
     1. print() function
     
     2. print statement
     
 3. type & id functions
 
     1. type () --->> to know the datatype of any variable
     
     2. id() ----->>> to know the memory loc of any variable

In [4]:
# read int data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter int data : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter int data : 78
data in var :  78
<type 'str'>
memory loc :  70421720

In [5]:
# read float data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter float : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter float : 45.6554
data in var :  45.6554
<type 'str'>
memory loc :  70421320

In [6]:
# read complex data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter complex : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter complex : 7+3j
data in var :  7+3j
<type 'str'>
memory loc :  70422440

In [7]:
# read bool data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter bool : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter bool : True
data in var :  True
<type 'str'>
memory loc :  70421280

In [8]:
# read Nonetype data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter none : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter none : None
data in var :  None
<type 'str'>
memory loc :  76827224

In [9]:
# read str data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter str : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter str : "soc"
data in var :  "soc"
<type 'str'>
memory loc :  70421120

In [10]:
# read list data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter list : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter list : [12 , 34.34]
data in var :  [12 , 34.34]
<type 'str'>
memory loc :  70656432

In [11]:
# read tuple data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter tuple : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter tuple : (12,45.23)
data in var :  (12,45.23)
<type 'str'>
memory loc :  76945712

In [12]:
# read set data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter set : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter set : {12,34.233}
data in var :  {12,34.233}
<type 'str'>
memory loc :  70656384

In [13]:
# read dict data by raw_input and display the data , datatype, memory of variable
var = raw_input("enter dict: ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter dict: {12 : "soc" , 45 : "python"}
data in var :  {12 : "soc" , 45 : "python"}
<type 'str'>
memory loc :  77746928

In [15]:
# read int data by input and display the data , datatype, memory of variable
var = input("enter int : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter int : 78
data in var :  78
<type 'int'>
memory loc :  40926416

In [16]:
# read float data by input and display the data , datatype, memory of variable
var = input("enter float : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter float : 78.64665
data in var :  78.64665
<type 'float'>
memory loc :  69988096

In [17]:
# read complex data by input and display the data , datatype, memory of variable
var = input("enter complpex : ")
print "data in var : ",var
print (type(var))
print "memory loc : ",id(var)

enter complpex : 3+2j
data in var :  (3+2j)
<type 'complex'>
memory loc :  70490192

In [ ]:
# input with all data type s

In [1]:
# datatype conversion functions
'''
==>> To convert one datatype to another datatype

int()     -->> to convert any datatype to int
float()   -->> to convert any datatype to float
complex() -->> to convert any datatype to complex
bool()    -->> to convert any datatype to bool
str()     -->> to convert any datatype to str
list()    -->> to convert any datatype to list
tuple()   -->> to convert any datatype to tuple
set()     -->> to convert any datatype to set
dict()    -->> to convert any datatype to dict
'''
# raw_input ---> int data ---> str data --->> int() --->> int data
var = raw_input("enter int : ")
print "data with in var : ",var
print type(var)
var = int(var)# converting into int
print "data with in var : ",var
print type(var)

enter int : 456
data with in var :  456
<type 'str'>
data with in var :  456
<type 'int'>

In [2]:
# raw_input ---> float data ---> str data --->> float() --->> float data
var = raw_input("enter float : ")
print "data with in var : ",var
print type(var)
var = float(var)# converting into float
print "data with in var : ",var
print type(var)

enter float : 78.89544
data with in var :  78.89544
<type 'str'>
data with in var :  78.89544
<type 'float'>

In [5]:
# raw_input ---> complex data ---> str data --->> complex() --->> complex data
var = raw_input("enter complex : ")
print "data with in var : ",var
print type(var)
var = complex(var)# converting into float
print "data with in var : ",var
print type(var)

enter complex : 4+4j
data with in var :  4+4j
<type 'str'>
data with in var :  (4+4j)
<type 'complex'>

In [ ]:
# raw_input ---> bool data ---> str data --->> bool() --->> bool data
var = raw_input("enter complex : ")
print "data with in var : ",var
print type(var)
var = complex(var)# converting into float
print "data with in var : ",var
print type(var)

In [ ]:
# raw_input ---> list data ---> str data --->> list() --->> list data
var = raw_input("enter complex : ")
print "data with in var : ",var
print type(var)
var = complex(var)# converting into float
print "data with in var : ",var
print type(var)

In [7]:
# float datatype to int 
var = input("enter float : : ")
print "data with in var : ",var
print type(var)
var = int(var)# converting into float
print "data with in var : ",var
print type(var)

enter float : : 7.6522
data with in var :  7.6522
<type 'float'>
data with in var :  7
<type 'int'>

In [9]:
# bool datatype to int 
var = input("enter bool : : ")
print "data with in var : ",var
print type(var)
var = int(var)# 
print "data with in var : ",var
print type(var)

enter bool : : False
data with in var :  False
<type 'bool'>
data with in var :  0
<type 'int'>

In [11]:
# str datatype to int 
var = input("enter str : : ")
print "data with in var : ",var
print type(var)
var = int(var)# converting into float
print "data with in var : ",var
print type(var)

enter str : : "123"
data with in var :  123
<type 'str'>
data with in var :  123
<type 'int'>

In [12]:
# list datatype to int 
var = input("enter list : : ")
print "data with in var : ",var
print type(var)
var = int(var)# converting into float
print "data with in var : ",var
print type(var)

enter list : : [1,2,3]
data with in var :  [1, 2, 3]
<type 'list'>

TypeError: int() argument must be a string or a number, not 'list'

In [13]:
# tuple datatype to int 
var = input("enter list : : ")
print "data with in var : ",var
print type(var)
var = int(var)# converting into float
print "data with in var : ",var
print type(var)

enter list : : (1,2,3)
data with in var :  (1, 2, 3)
<type 'tuple'>

TypeError: int() argument must be a string or a number, not 'tuple'

In [14]:
# float --->> int --->> success
# bool  --->>  int --->> success
# str  ---->> int   --->. succes
# list  --->> int   ---.> error
# tuple  --->> int   ---> error
# set --->> int
# dict --->> int
# None  --->> int

In [15]:
# int  datatype to float
var = input("enter int : : ")
print "data with in var : ",var
print type(var)
var = float(var)# converting into float
print "data with in var : ",var
print type(var)

enter int : : 78
data with in var :  78
<type 'int'>
data with in var :  78.0
<type 'float'>

In [16]:
# int --->> float --->> success
# bool -->> float --->> 
# str  ---->> float    --->. succes
# list  --->> float    ---.> error
# tuple  --->>float    ---> error
# set --->>float 
# dict --->> float 
# None  --->> float

In [ ]:
# int --->> bool --->> 
# float --->> bool
# str  ---->> bool   
# list  --->> bool    
# tuple  --->>bool   
# set --->>  bool
# dict --->> bool
# None  --->> bool