In [3]:
# operator

'''
-->> The symbols are used for to do the operation on operands
'''
# operation
'''
--->> the process of solving the equations
'''
# operand 
'''
--->> the data with in the operations 
'''
# Based on 2 ways
'''
1. Based on operands 

2. Based on operations
'''
# Based on Operands 
print "unary operator"
'''
1. unary operator

    ===>>> A single operator is operating on single operand
    
'''
print + 34  # unary plus
print - 45  # unary minus
print not True # logical not
print ~ 67 # bitwise not
print "binary operators"
'''
2. binary operator

    ===>>> A single operator is operating on the 2 operands
'''
print  12 +  45
print  34 -  23
print 12  <  34
print 45  == 45
print 34  or 23

unary operator
34
-45
False
-68
binary operators
57
11
True
True
34

In [4]:
# Based on the operations 
'''
-->>> Arithmetic Operator
-->>> Relational Operators
-->>> Logical Operators
-->>> Special Operators
-->>> Assignment operator
-->>> Bitwise operators
'''
# Arithmetic Operators
'''
1. addition        +
2. subtraction     -
3. Multiplpication *
4. division        /
5. modulus         %
'''
a = 45
b = 2
print "add : ",a+b
print "sub : ",a-b
print "mul : ",a * b
print "div : ",a/b
print "rem : ",a%b

add :  47
sub :  43
mul :  90
div :  22
rem :  1

In [5]:
a = 45.0
b = 2
print "add : ",a+b
print "sub : ",a-b
print "mul : ",a * b
print "div : ",a/b
print "rem : ",a%b

add :  47.0
sub :  43.0
mul :  90.0
div :  22.5
rem :  1.0

In [7]:
'''
--->> floor devision    //
--->> exponwnt          **
'''
a = 45
b = 2
print a/b
print a // b
a = 45.0
b = 2
print a/b
print a // b

22
22
22.5
22.0

In [8]:
print 10 ** 3
print 12  ** 2
print 2  ** 5

1000
144
32

In [9]:
# wap find the are of circle  ( pi * ( r **2))
r = input("enter raduis in meters : ")
pi = 22.0/7
area = pi*(r ** 2)
print "area : ",area," sq . m "

enter raduis in meters : 45
area :  6364.28571429  sq . m

In [ ]:
# wap find the area and perimeter of square
# wap find the area and perimeter of rectangle
# wap find the area and perimeter of triangle
# wap find the area and volume of cube
# wap find the simple interest